@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lato:wght@300;400&family=Roboto:wght@300&display=swap');

body{
    min-width: 1170px;
    background-color: #f5dcf1;
}

.firstbanner {
    font-family: 'Inter', sans-serif;
    width: 1440px;
    height: 72px;
    background: #0B2239;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.firstbanner p {
    width: 922px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 50px;
}

.firstbanner a {

    width: 86px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 20px;
}

.firstbanner button {
    width: 110px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 2px;
}

.firstbanner button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 10px;
    gap: 10px;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
}

button {
    cursor: pointer;
    border: none;
}

.secondbanner {
    font-family: 'Inter', sans-serif;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;

}

.secondbanner a {
    color: white;
}

.secondbanner p {
    width: 689px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 8px;
    margin-right: 20px;

}

.secondbanner img {
    width: 16px;
    height: 16px;
}


.thirdbanner img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
    width: 20px;
    height: 20px;
}


.thirdbanner p {
    width: 347px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
    /* margin-left: 18px;
    margin-right: 10px; */
}

.thirdbanner {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 560px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin-top: 72px;
    margin-left: 73px;
    margin-bottom: 24px;

}

.thirdbanner a {
    color: #EA4C89;
}

.but1 {
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    gap: 10px;
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;

}

.but2 {
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    gap: 10px;
    width: 52px;
    height: 28px;
    color: #FFFFFF;
    background: #EA4C89;
    border-radius: 8px;
}

.fourthbanner {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 560px;
    height: 40px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    margin-left: 73px;
}

.fourthbanner p {
    width: 469px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;

}

.fourthbanner button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    gap: 10px;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
}

.fourthbanner a {
    color: #E6842E;
}

.flex {
    margin-top: 72px;
    display: flex;
    gap: 40px;
    font-family: 'Lato', sans-serif;

}

.fifthbanner {
    margin-left: 76px;
    width: 360px;
    height: 206px;
    color: #FFFFFF;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
}

.fifthbanner h3 {
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;

}

.fifthbanner p {

    width: 312px;
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.ban5 {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.ban5 p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    margin-right: 67px;
    width: 160px;
    height: 16px;

}

.ban5 button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;

}

.sixthbanner {
    width: 360px;
    padding-left: 16px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
}

.sixthbanner p {
    width: 328px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.sixthbanner h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
}

.flex2 {
    display: flex;
}

.but3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin-right: 10px;


}

.but4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
}

.flex3 {
    display: flex;
    margin-top: 72px;
}

.seventhbanner {
    font-family: 'Inter', sans-serif;
    width: 320px;
    height: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 73px;
}

.seventhbanner h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    color: #15295A;
    padding-top: 32px;
    margin-bottom: 0;
    margin-top: 0;


}

.seventhbanner p {
    width: 256px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
    margin: 5px 0 32px 0;


}

.seventhbanner button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    margin-bottom: 32px;


}

.flex4 {
    display: flex;
    padding-top: 12px;

}

.eighthbanner {
    padding: 16px;
    width: 300px;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;

}

.eighthbanner p {
    width: 300px;
    height: 60px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    margin: 0%;

}

.eighthbanner a {
    width: 95px;
    height: 17px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #6666FF;
    margin-right: 129px;
    padding-top: 9px;
    text-decoration: none;

}

.eighthbanner button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}