@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

main {
    padding: 0%;
}

.first_section {
    background-color: #ED4C5C;
    max-width: 1575px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.text1 h1 {
    width: 445px;
    height: 107px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 22px;
}

.image_first {
    width: 533px;
    height: 311px;
    margin-top: 90px;
    padding-bottom: 90px;
}

.text1 p {
    width: 445px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}

.icons {
    margin-top: 40px;
    cursor: pointer;
}

.second_section {
    max-width: 1575px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 156px;
    margin-bottom: 45px;
}

.text2 h2 {
    width: 445px;
    height: 80px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.text2 p {
    width: 434px;
    height: 64px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.text2 {
    margin-top: 117px;
    padding-bottom: 223px;
}

.forms {
    width: 540px;
    height: 305px;
    margin-top: 117px;

}

button {
    cursor: pointer;
    border: none;

}

#name {
    box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-right: 20px;
}

#name::placeholder {
    width: 78px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}

#lastname {
    box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
}

#lastname::placeholder {
    width: 75px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;

}

#number {
    width: 528px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 24px;
}

#number::placeholder {
    width: 106px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 31px;
    color: rgba(19, 39, 67, 0.5);
}

#sel {
    box-sizing: border-box;
    width: 534px;
    height: 63px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 24px;
}

select {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}


.submit_button {
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 41px;

}

footer {
    max-width: 1575px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer_text1 h5 {
    width: 65px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    padding-top: 80px;

}

.footer_text1 p {
    width: 254px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;

}

.bottom_text {
    padding-top: 86px;
    padding-bottom: 86px;

}

.footer_text2 h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    padding-left: 37px;
    padding-top: 80px;



}

.footer_text2 ul {
    width: 254px;
    list-style: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;

}

.footer_text3 {
    width: 254px;
}

.footer_text3 h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    padding-top: 80px;
}

#img1 {
    padding-right: 16px;

}

#img2 {
    padding-right: 16px;
}

.footer_text3 img {
    padding-top: 21px;
    cursor: pointer;
}
.foot_p{
    cursor: pointer;
}
.foot_p2{
    cursor: pointer;
}

.footer_text4 {
    width: 254px;
}

.footer_text4 h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    padding-top: 80px;

}