@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.cdnfonts.com/css/avenir');

body {
    display: flex;
    background-image: url(./img/image1\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 603px;
    background-position-y: 300px;
}

.wrapper {
    padding-left: 200px;
    padding-right: 200px;
}

.header_ul {
    margin-left: 140px;
    display: flex;
    gap: 40px;
    font-family: 'Avenir', sans-serif;
    list-style: none;
    cursor: pointer;
    padding-top: 25px;
    margin-right: 449px;
    font-weight: 500;
    font-size: 16px;
}

.header {
    display: inline-flex;
}

.header img {
    padding-top: 22px;
    width: 49px;
}

#but_header {
    width: 210px;
    height: 20px;
    margin-top: 20px;
    background: #FFFFFF;
    padding-bottom: 63px;
    border-radius: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #212353;
    border-color: white;
    cursor: pointer;

}

#but_header img {
    padding-left: 15px;
    width: 20px;
}

.headline {
    margin-top: 145px;
}

.first_section {
    display: flex;

}

.headline button {
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 50px;
    cursor: pointer;
    border: 1px solid transparent;
}

.headline h1 {
    width: 645px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
}

.first_section p {
    width: 380px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
}

.second_section {
    margin-top: 200px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    gap: 100px;
}

.second_section h2 {
    width: 475px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-top: 125px;
}

.second_section p {
    width: 474px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4B5D68;
    margin-top: 40px;
    margin-bottom: 125px;
}

.third_section h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #212353;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;

}

.third_section p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 584px;
    color: #4B5D68;
    margin-left: 25%;
    text-align: center;
}

.fourth_section_part1 {
    margin-top: 160px;
    display: flex;
}

.fourth_section_part1 h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
}

.fourth_section_part1 p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 220px;
    height: 160px;
}

.fourth_section_part1 a {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #212353;
    text-decoration: none;
}

.block {
    display: flex;
}

.miniblock1 {
    margin-left: 30px;
    margin-right: 180px;
}

.image_miniblock {
    margin-top: 60px;
}

.arrow {
    padding-left: 10px;
}

.miniblock2 {
    display: flex;
}

.image_miniblock1 {
    margin-top: 30px;
}

.miniblock3 {
    margin-left: 30px;
}

.fourth_section_part2 {
    display: flex;
}

.block2 {
    display: flex;
    margin-top: 130px;
}

.fourth_section_part2 h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
}

.fourth_section_part2 p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 220px;
    height: 160px;
}

.fourth_section_part2 a {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #212353;
    text-decoration: none;
}
.fifth_section{
    margin-top: 185px;
}

.mini_wrapper {
    background-color: #9C69E2;
    padding: 110px 75px 62px 93px;
    border-radius: 50px;

    
}

.mini_wrapper h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 88px;
}

.mini_wrap2 {
    display: flex;
    background-color: #FFFFFF;
    margin-right: 75px;
    border-radius: 20px;
    padding: 60px 103px 50px 103px;
    margin: 0%;

}
.mini_wrap2 h3{
    font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
color: #212353;
margin: 0%;
}
.mini_wrap2 a{
    text-decoration: none;
    font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #9C69E2;
}
.mini_wrap2 p{
    font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #4B5D68;
line-height: 180%;
}
.jhons_img{
    margin-right: 45px;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    cursor: pointer;
}