@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.text-block5 h2, .text-block4 h2, .text-block3 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.text-block5 p, .text-block4 p, .text-block3 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  max-width: 445px;
}
.text-block5 p:last-child, .text-block4 p:last-child, .text-block3 p:last-child {
  margin-top: 10px;
}

body {
  background: url(../img/background.png) no-repeat 100% 0%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-block {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}

.header-block button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  background: #111B47;
  border-radius: 2px;
  padding: 5px 70px;
}

.header-block button:hover {
  background: transparent;
  border: 2px solid #111B47;
  color: #111B47;
  padding: 3px 68px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.navigation a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505F98;
}

.first-section {
  margin-top: 260px;
}

.text-block h1 {
  max-width: 539px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 20px;
}

.text-block p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
  max-width: 539px;
}

.text-block p:last-child {
  padding-top: 10px;
  margin-bottom: 75px;
}

.buttons {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 2px;
}

.first-button {
  background: #111B47;
  color: white;
  padding: 5px 40px;
  margin-right: 30px;
}

.second-button {
  background: #111B47;
  color: white;
  padding: 5px 53px;
}

.first-button:hover {
  background: transparent;
  border: 2px solid #111B47;
  color: #111B47;
  padding: 3px 40px;
  margin-right: 26px;
}

.second-button:hover {
  background: transparent;
  border: 2px solid #111B47;
  color: #111B47;
  padding: 3px 51px;
}

.second-section {
  margin-top: 390px;
}

.text-block2 h2 {
  max-width: 539px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 20px;
  margin-top: 160px;
}

.text-mini-block p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
  max-width: 539px;
}

.text-mini-block p:nth-child(3) {
  padding-top: 10px;
}

.title {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.title-mini-block {
  max-width: 255px;
}

.title-mini-block p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}

.title-mini-block h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  margin-top: 14px;
  margin-bottom: 6px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 154px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-block3 {
  margin-top: 280px;
}

.text-block3 h2 {
  margin-bottom: 15px;
}

.bg-photo2 {
  margin-top: 230px;
}

.wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper3 {
  margin-top: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.text-block4 h2 {
  margin-bottom: 15px;
}

.wrapper4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140px;
  margin-top: 220px;
}

.text-block5 h2 {
  margin-bottom: 15px;
}

.purchase-now {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 2px;
  background: #111B47;
  color: white;
  padding: 3px 45px;
}

.purchase-now:hover {
  background: transparent;
  border: 2px solid #111B47;
  color: #111B47;
  padding: 1px 43px;
}

.paragraph-text-block5 {
  margin-top: 10px;
  margin-bottom: 45px;
}

.sixth-section {
  background: url(../img/background2.png) no-repeat;
  background-size: 100%;
  margin-top: 170px;
}

.text-block-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 230px;
  padding-bottom: 170px;
}

.title-block-six {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  margin-bottom: 16px;
}

.paragraph-text-block {
  max-width: 600px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
}

.text-block-six h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #222F65;
  margin-top: 35px;
}

.paragraph-text-block2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #37447E;
  margin-bottom: 60px;
}

.paragraph-text-block3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #5D6970;
  margin-top: 5px;
}

footer {
  background-color: #E7ECFF;
}

.block-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 60px;
  border-bottom: 1px solid #CDD1D4;
}

.block-footer-top p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
}

.block-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 32px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.nav a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #929ECC;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .wrapper {
    gap: 0px;
  }
  .bg-photo {
    width: 450px;
  }
  .bg-photo2 {
    width: 450px;
  }
  .wrapper2 {
    gap: 0;
  }
  .wrapper3 {
    gap: 0;
  }
  .wrapper4 {
    gap: 0;
  }
  .bg-photo4 {
    width: 450px;
  }
  .text-block-six {
    padding-top: 130px;
    padding-bottom: 70px;
  }
  .sixth-section {
    background-size: 200%;
  }
  .bg-photo3 {
    width: 450px;
  }
  body {
    background-size: 70%;
  }
  .second-section {
    margin-top: 100px;
  }
}
@media (max-width: 930px) {
  .container {
    max-width: 700px;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
    padding: 0 10%;
  }
  .text-block {
    padding: 0 50px;
  }
  .text-block2 h2 {
    margin: auto;
  }
  .title {
    margin-top: 15px;
  }
  .text-block3 p {
    max-width: 930px;
  }
  .bg-photo2 {
    width: 450px;
    margin-top: 100px;
  }
  .wrapper2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 10%;
  }
  .first-section {
    margin-top: 60px;
    text-align: center;
  }
  body {
    background: none;
  }
  .text-block h1 {
    max-width: none;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 20px;
  }
  .text-block p {
    max-width: none;
  }
  .text-block3 {
    margin-top: 10px;
  }
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
    margin-top: 100px;
  }
  .bg-photo3 {
    width: 450px;
  }
  .text-block4 {
    text-align: center;
  }
  .text-mini-block {
    text-align: center;
  }
  .title {
    text-align: center;
  }
  .text-block4 {
    margin-top: 10px;
  }
  .wrapper4 {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .text-block5 {
    margin-top: 10px;
  }
  .text-block-six {
    padding: 0 10%;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
  }
  .first-button {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .block-footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nav {
    margin-top: 10px;
  }
  .bg-photo, .bg-photo2, .bg-photo3, .bg-photo4 {
    width: 200px;
  }
  .text-block5 {
    padding: 0 10%;
  }
  .sixth-section {
    background: none;
  }
}